/* reset */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import "10000hours_media.css";

body {
  height: 1963px;
  min-width: 360px;
  background-color: #5b2386;
  color: white;
  font-family: GmarketSansMedium;
  font-weight: 300;
  text-align: center;
  padding-top: 140px;
  font-size: 24px;
  font-style: normal;
  line-height: 24px;
  position: relative;
}
input:focus {
  outline: none;
}
input:valid {
  font-family: GmarketSansMedium;
  font-size: 24px;
}
button {
  padding: 21px 49px;
  font-family: GmarketSansMedium;
  color: #5b2386;
  background-color: #fcee21;
  border-radius: 56px;
  border: none;
  font-size: 24px;
  font-weight: 700;
}
.screen_out {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* components */
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 300px;
}
h1 img:first-child {
  position: absolute;
  /* width: 70%;
  max-width: 225px; */
}
h1 img:nth-child(2) {
  height: auto;
  width: 85%;
  max-width: 564px;
  margin: 0px auto;
  z-index: 1;
}
h1 img:last-child {
  position: absolute;
  top: 400px;
  /* margin: 0px auto; */
}
/* main */
.sec_practice {
  line-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin: 0px auto 118px;
  max-width: fit-content;
}
.sec_practice h2 {
  display: inline-block;
  margin: 0px 30px;
}
.sec_practice strong {
  font-size: 30px;
  font-weight: 600;
}

.sec_calculate {
  line-height: 80px;
}

.sec_calculate button {
  margin-top: 118px;
}
.sec_calculate input {
  width: 228px;
  height: 57px;
  border: none;
  border-radius: 10px;
  margin: 0px 10px;
}
.sec_calculate input::placeholder {
  text-align: center;
  font-family: GmarketSansMedium;
  font-size: 24px;
  color: #babcbe;
}
.sec_calculate form {
  position: relative;
}
.sec_calculate img {
  position: absolute;
  bottom: -7px;
}

.sec_result {
  margin: 115px 0px;
  line-height: 80px;
}
.sec_result_text {
  margin-bottom: 118px;
  white-space: nowrap;
}
.sec_result p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec_result strong {
  font-size: 72px;
  font-weight: 700;
  margin: 0px 15px;
}
.sec_result button:last-child {
  background-color: white;
  margin-left: 15px;
  padding: 24px 49px;
}
/* footer */
.copyright {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 17px;
  white-space: nowrap;
}
.copyright img {
  margin: 15px;
}

#modal {
  display: none;
}
#modal_toggle {
  display: none;
}
#modal_toggle:checked + #modal {
  z-index: 2;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  border-radius: 20px;
  background-color: white;
  color: #5b2386;
}
#modal p {
  margin-top: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 50px;
}
#modal p strong {
  font-size: 60px;
}
#modal button {
  margin-top: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
